.mainPage {
  display: flex;
}

.card-body {
  grid-column: 1 / 6;
}

.card-text {
  grid-column: 4 / 6;
}

.card-container {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-rows: 100px;
}

.subNavBar {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px 80px;
  box-sizing: content-box;
}

.linksToModules{
  grid-row: 4/6
}

.flag {
  width: 40%;
  padding: 20px 0px;
}
