.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.header {
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

.cardGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
  gap: 150px;
  padding: 30px;
}

.fullWidth {
  width: 90vw;
}

.tableHeader:hover {
  background: rgb(255, 255, 255); 
}

tr:hover { 
  background: rgb(214, 214, 214); 
}

td a { 
  display: block; 
  padding: 8px; 
}