
.FullPage {
    background-color: rgb(241, 241, 241);
}
.SubNavBar {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 80px;
    box-sizing: content-box;
}

.InstancePage {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 30px 80px;
    padding-left: 150px;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
  }
  
  .CountryName {
    font-weight: bold;
    padding-top: 10px;
  }

  .AllInfo {
    font-size: large;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }

  .MapImage{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    padding: 5px;
    width: 800px;
  }

  .SubTitle {
    font-weight: bold;
    font-size: xx-large;
    padding-top: 20px;
  }
  
  .Location {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-column-gap: 0px;
  }

  .LinksToModules{
    font-size: medium;
    padding-top: 20px;
  }
  
