.bioCardStyle {
  width: 350px;
  height: 650px;
}

.countryCardStyle {
  width: 350px;
  height: 450px;
}

.statsCardStyle {
  width: 170px;
  height: 170px;
  display: flex;
}

.statsValueStyle {
  font-size: 60px;
  font-weight: bold;
}

.statsTitleStyle {
  font-size: 20px;
  color: gray;
}

.toolCardStyle {
  width: 250px;
  height: 400px;
}

.modelCardStyle {
  width: 30vw;
  height: 30vw;
}
